@charset "utf-8";

body{
    background-color: rgb(205, 255 ,203);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;

}
h1{
        background-color: rgb(4, 109, 0);
}
h2{
    color: rgb(51, 77,49);
}
.basico{
    color: #3c805e;
}
.intermediario{
        color: #80793c;
}
.avançado{
    color: #803c3c;
}
.destaque{
    background-color: rgb(197, 197, 96 , 0.438);
}